baseURL="{{baseURL}}"
dxp.lxc.liferay.com.virtualInstanceId="default"
name="{{name}}"
projectId="{{projectId}}"
projectName="{{projectName}}"
type="{{type}}"
typeSettings=["friendlyURLMapping={{friendlyURLMapping}}","baseURL={{baseURL}}","instanceable={{instanceable}}","urls={{urls}}","useESM={{useESM}}","htmlElementName={{htmlElementName}}","cssURLs={{cssURLs}}","portletCategoryName={{portletCategoryName}}"]